.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  /* border: 2px solid white; */
}
.top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  /* border: 2px solid white; */
}
.top-container > div {
  font-size: 2.5rem;
  color: #515152;
  font-weight: 600;
}

.popup-content {
  border-radius: 10px;
  color: black;
  height: 78%;
  width: 81%;
  padding: 20px 70px;
  background: linear-gradient(
    0deg,
    rgba(6, 1, 18, 0.97) 0%,
    rgba(63, 63, 63, 0.97) 74.22%
  );
  position: relative;
  /* border: 2px solid white; */
}
.boxes {
  display: flex;
  justify-content: space-between;
  height: 75%;
  width: 100%;
  margin-bottom: 20px;
}
.buttons {
  width: 100%;
  height: 12%;
  display: flex;
  justify-content: space-around;
}

.button1,
.button2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  border-radius: 15px;
}
.button1 {
  width: 35%;
  color: #c368ff;
  cursor: pointer;
  border: 2px solid gray;
}
.button2 {
  width: 35%;
  background-color: #c368ff;
  color: white;
}
.col1,
.col2,
.col3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 33%;
  height: 100%;
}
.col2 {
  /* background: white; */
  border-radius: 15px;
  /* padding: 10px; */
}
.box-heading{
  font-size: 0.875rem;
  font-weight: bold;
}
.projects,
.services,
.products,
.achievements {
  display: flex;
  flex-direction: column;
  justify-content: end;
  color: white;
  padding: 0.5rem;
  border-radius: 15px;
}
.projects {
  height: 52%;
  width: 100%;  
}
.project-img {
  position: absolute;
  height: 100%;
  width: 100%;
}

.services {
  height: 48%;
  width: 100%;
}
.products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%; 
}
.achievements {
  height: 39%;
  width: 100%;
  /* background-image: url("../assets/popup/pic-4.png"); */
  background-size: cover;
  background-position: center;
}
.news {
  position: relative;
  color: white;
  height: 60%;
  width: 100%;
  border-radius: 15px;
  padding: 2px;
  z-index: 1;
  background: linear-gradient(
    0deg,
    rgba(6, 1, 18, 0.97) 0%,
    rgba(63, 63, 63, 0.97) 74.22%
  );
  border: 2px solid transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* margin-top:px; */
}
.news-content {
  padding: 10px;
  width: 100%;
  background: linear-gradient(
    0deg,
    rgba(6, 1, 18, 0.97) 0%,
    rgba(63, 63, 63, 0.97) 74.22%
  );
  border-radius: 12px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden; /* Contain the carousel slide */
}

/* Animated border using ::before */
.news::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: linear-gradient(
    270deg,
    #5000ff,
    #ff4400,
    #6c1ca1,
    #ff4400,
    #5000ff
  );
  background-size: 400%;
  z-index: -1;
  animation: gradientBorder 15s linear infinite;
  border-radius: 15px;
}

/* Content inside news remains above */
.news > * {
  position: relative;
  z-index: 2;
}

@keyframes gradientBorder {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 400% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}



.news-content > div {
  font-size: 1.5rem;
  color: white;
  padding: 15px;
}
body.no-scroll {
  overflow: hidden;
}

/* Carousel styles */
.news-carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Match news-content width */
  height: 85%; /* Adjusted to fit within news-content */
  position: relative;
  overflow: hidden; /* Contain the slide */
  /* border: 2px solid white; */
}

div.Typewriter{
  width: 42%;
  /* background-color: red; */
}

.go-button {
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: none;
  color: black;
  /* border: 2px solid white; */
  height: 20%;
  cursor: pointer;
}
.go-button a:hover{
  cursor: pointer;
}
.news-content > div {
  font-size: 1.5rem;
  color: white;
  padding: 10px;
}
body.no-scroll {
  overflow: hidden;
}

.carousel-slide {
  display: flex;
  flex-direction: column;
  transition: transform 0.5s ease-in-out;
  /* Match container height */
  position: absolute;
  left: 2px;
  right: 2px;
  top: 2px;
  bottom: 2px;
  text-wrap: wrap;
  height: 100%;
  width: 100%;
  /* border: 2px solid red; */
}

.news-content1{
   font-size: 1.5rem;
  color: white;
  padding: 4px;
  width: 80%;
  height: 40%;
  text-wrap: wrap;
  /* border: 2px solid white;  */

}
.news-content2 {
  font-size: 1.5rem;
  color: white;
  padding: 4px;
  width: 80%;
  height: 50%;
  text-wrap: wrap;
  /* border: 2px solid white;  */
}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  /* border-right: .15em solid orange;  */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  /* letter-spacing: .15em; */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
  width: 100%;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

.project-carousel-container {
  position: relative;
  height: 100%; /* height of one slide */
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 8px;
}

.project-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  color: white;
}

.project-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.project-details {
  display: flex;
  justify-content: center;
  position: absolute;
  /* bottom: 15%; */
  /* top: 10%; */
  width: 100%;
  height: 23%;
  padding: 12px;
  z-index: 2;
  flex-direction: column;
  border-radius: 0 0 8px 8px;
  /* border: 2px solid white; */
  background: linear-gradient(180deg, rgba(13, 2, 37, 0) 63.96%, #0d0225 100%);
}

.project-title {
  font-weight: bold;
  font-size: 0.6rem;
  margin: 0;
}


.products-carousel-container {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid blue; */
}

.products-slide {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: end;
  flex-direction: row;
  /* align-items: center; */
  width: 100%;
  height: 100%;
  /* border: 2px solid red; */
}

.products-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.products-details {
  padding: 15px;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  z-index: 2;
  /* border: 2px solid white; */
  background: linear-gradient(180deg, rgba(13, 2, 37, 0) 63.96%, #0d0225 100%);
}

.products-title {
  font-weight: bold;
  font-size: 0.6rem;
  margin: 0;
}


.achievements-carousel-container {
  position: relative;
  height: 100%; /* height of one slide */
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  /* border: 2px solid red; */
}

.achievements-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  color: white;
  /* border: 2px solid blue; */
}

.achievements-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.achievements-details {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 6px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  border-radius: 0 0 8px 8px;
  /* border: 2px solid white; */
  background: linear-gradient(180deg, rgba(13, 2, 37, 0) 63.96%, #0d0225 100%);
}

.achievements-title {
  font-weight: bold;
  font-size: 0.6rem;
  margin: 0;
}


@media (min-width: 1536px) and (max-width:1920px) {
  div.Typewriter{
    font-size: 1.5rem;
  }
}

@media (min-width: 1024px) and (max-width:1535px) {
  div.Typewriter{
    font-size: 1.2rem;
  }
}