.project-page-hero-section {
  width: 100%;
  height: 100vh;
  background: rgb(49, 8, 139);
  background: linear-gradient(0deg,
      rgba(49, 8, 139, 1) 0%,
      rgba(13, 2, 37, 1) 80%,
      rgba(13, 2, 37, 1) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 5vw;
  font-weight: 600;
}

.project-page-hero-section>div {
  position: relative;
  width: fit-content;
}
.project-page-content-container {
  display: flex;
  padding: 3rem;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 100vh;
  position: relative;
  /* Ensure the parent provides a positioning context */
  overflow: visible;
  /* Prevent overflow from interfering with sticky */
}
.service-page-main-dots-container {
  width: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  position: sticky;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}
.service-page-dept-container {
  display: flex;
  column-gap: 0.5rem;
  position: relative;
  margin-right: 3rem;
  transition: all 0.25s linear;
}
.service-page-dept-name {
  position: absolute;
  left: 2.5rem;
  font-family: EuclidSemibold;
  color: #0047ff;
  padding: 1rem;
  border-radius: 2rem;
  background-color: #ebf1ff;
  transform: translate(0%, -50%);
  white-space: nowrap;
}

.service-page-main-dots {
  width: 14px;
  height: 14px;
  background-color: #d9d9d9;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.category-buttons-container {
  display: flex;

  padding: 1.5rem;
  column-gap: 6px;
  overflow-x: auto;

  z-index: 1;
  background: #fff;
}

.service-page-main-dots.service-page-main-dots-active {
  background-color: #0047ff;
}

.department-section {
  width: 100%;
  min-height: 100vh;
}

.project-item-tab {
  font-size: 20px;
  font-family: EuclidMedium;
  padding: 0.75rem 1.5rem;
  background: #f5f5f5;
  border-radius: 0.5rem;
  transition: all 0.3s;
  min-width: -moz-fit-content;
  min-width: fit-content;
  cursor: pointer;
  border: none;
  margin-right: 10px;
}
.category-buttons-container ::-webkit-scrollbar{
  display: none;

}

.project-item-tab.project-item-tab-active {
  color: #0047ff;
  background: #e5e5e5;
}

.product-dep-name {
  font-family: EuclidSemibold;
  font-size: 2rem;
  color: #c5c3c9;
  padding: 15px 30px;
  border-bottom: 2px solid lightgray;
}
.department-separator {
  border: none;
  border-top: 1px solid #e5e5e5;
  margin: 1rem 0;
}

.mobile-navigation-tabs {
  display: none;
}

.mobile-navigation-tabs>div {
  padding: 10px 14px;
  border-radius: 5px;
  color: #0d0225;
  background-color: #f5f5f5;
  font-size: 18px;
  font-family: EuclidSemibold;
}

.active-service-mob-tab {
  color: #0047ff;
  background-color: #ebf1ff;
}

/* @media screen and (max-width: 1024px) {
  .project-page-hero-section {
    height: 37rem;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .project-item-tab{
    font-size: 10px;
    font-family: EuclidMedium;
    padding:2px;
    background: #f5f5f5;
    border-radius: 5px;
    transition: all 0.3s;
    min-width: -moz-fit-content;
    min-width: fit-content;
    cursor: pointer;
    border: none;
    margin-right: 5px;
    height: 26px;
  }

  .project-page-content-container {
    padding: 1.5rem;
  }

  .service-page-main-dots-container {
    display: none;
  }

  .mobile-navigation-tabs {
    display: flex;
    padding: 1.5rem;
    column-gap: 6px;
    overflow-x: auto;
    position: sticky;
    top: 80px;
    z-index: 1;
    background: #fff;
    transform: translateY(-100%);
    overflow: hidden;
  }
  /* .mobile-navigation-tabs::-webkit-scrollbar-button{
    display: none
  }; 

  .product-dep-name {
    display: none;
  }
} */
.category-buttons-container {
  display: flex;
  padding: 1.5rem;
  column-gap: 6px;
  overflow-x: auto;

  z-index: 1;
  background: #fff;
}



.category-buttons-container::-webkit-scrollbar {
  display: none;
}


@media screen and (max-width: 1024px) {
  .project-page-hero-section {
    height: 37rem;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .project-item-tab {
    font-size: 10px;
    font-family: EuclidMedium;
    padding: 2px;
    background: #f5f5f5;
    border-radius: 5px;
    transition: all 0.3s;
    min-width: -moz-fit-content;
    min-width: fit-content;
    cursor: pointer;
    border: none;
    margin-right: 5px;
    height: 26px;
  }

  .project-page-content-container {
    padding: 1.5rem;
  }

  .service-page-main-dots-container {
    display: none;
  }

  .mobile-navigation-tabs {
    display: flex;
    padding: 1.5rem;
    column-gap: 6px;
    overflow-x: auto;
    position: sticky;
    top: 80px;
    z-index: 1;
    background: #fff;
    transform: translateY(-100%);
    overflow: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .mobile-navigation-tabs::-webkit-scrollbar {
    display: none;
  }

  /* .mobile-navigation-tabs::-webkit-scrollbar-button{
    display: none
  }; */
  .product-dep-name {
    display: block;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .category-buttons-container {
    display: flex;
    padding: 1.5rem;
    column-gap: 6px;
    overflow-x: auto;
    position: sticky;
    top: 80px;
    z-index: 1;
    background: #fff;

  }


}
