.sidebar-container {
  display: none;
  color: #000;
  z-index: 99999;
  padding: 1rem;
  transition: transform 0.3s ease;
  position: fixed;
  top: 0;
  width: 100%;
  overflow-y: auto;


  box-sizing: border-box;
  background-color: white;
  /* z-index: 3; */
  /* width: 100%; */
}
.sidebar-container.hide {
  transform: translateY(-100%);
}
.no-scroll {
  overflow: hidden !important;
  height: 100vh;
  position: relative;
}
.side-bar-item-containers::-webkit-scrollbar {
  display: none;
}

.sidebar-container.show {
  transform: translateY(0);
}
.horizontal-line {
  border-top: 1px solid #E0E0E0;
  width: 100%;
}
.side-bar-items {
  padding: 20px 0px;
  font-size: 1rem;
  font-weight: 600;
}
.sub-side-bar-items {
  padding: 20px 0px;
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem;
  box-sizing: border-box;
  /* background: #F0F4FF; */
}
.side-bar-item-containers {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.arrow {
  transform: rotate(90deg);
}
@media screen and (max-width: 1024px) {
  .sidebar-container {
    display: block;
  }
}

@media screen and (max-width: 475px) {
  .nav-logo1 {
    width: 140px;
    height: 30px;
  }
  .nav-logo-text1 {
    font-size: 10px;
  }
}