.winner-container {
  padding: 4%;
}

/*  */
.winner-section1-main-des-container {
  display: flex;
  justify-content: space-between;
}

.popup-form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popup-form-container {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  max-width: 90%;
  width: 90%;
}

.certificate-preview-img {
  width: 50%;
  max-height: 50%;
  object-fit: cover;
  margin-top: 15px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.download-btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  font-family: EuclidSemibold;
}

.close-btn {
  display: block;
  margin: 15px auto 0;
  padding: 8px 16px;
  background-color: white;
  color: rgb(8, 8, 8);
  font-size: large;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: EuclidSemibold;
  position: relative;
  left: 40%;
}

.winner-section1-main-des-container>p {
  width: 40%;
  font-size: 1.25rem;
  color: #6B6084;
}

.winner-section1-container-title {
  font-family: EuclidSemibold;
  color: #0D0225;
  font-size: 2.25rem;
}

.winner-section1-items-container {
  display: flex;
  align-items: center;
  column-gap: 5rem;
  overflow-x: auto;
  margin: 2rem 0rem;
}

.winner-section1-items-container::-webkit-scrollbar {
  display: none;
}

.winner-section1-items-img>img {
  width: 20rem;
  object-fit: cover;
  aspect-ratio: 1;
}

.winner-section1-item-card {
  display: flex;
  align-items: center;
  min-width: 60vw;
  background-color: #F8FAFF;
}

.winner-section1-item-content {
  padding: 3rem;
  box-sizing: border-box;
  height: 100%;
}

.winner-section1-item-content>div {
  font-family: EuclidSemibold;
  font-size: 1.5rem;
  color: #0D0225;
}

.winner-section1-item-content>p {
  /* font-family: EuclidSemibold; */
  font-size: 1.25rem;
  color: #6B6084;
  row-gap: 0.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.winner-section1-btn-container {
  display: flex;
  align-items: center;
  column-gap: 1rem;

}

.winner-section1-btn-container>div,
.winner-section1-mob-btn-container>div {
  width: 3rem;
  height: 3rem;
  border: 1px solid #6B6084;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}

.winner-section1-mob-btn-container {
  display: none;
}

.carousel-dots {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 15px 0;
}

.dot {
  width: 10px;
  height: 10px;
  background: #ccc;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s ease;
}

.dot.active {
  background: #333;
}

.dot:hover {
  background: #666;
}

.winner-header {
  padding-top: 2rem;
}

.winner-event {
  color: #0047FF;
  font-size: 1.5rem;
  font-family: EuclidSemibold;
}

.Winner-date-category {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.winner-date {
  font-size: 1rem;
  font-family: EuclidMedium;
  color: #6B6084;
  margin-top: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.winner-category {
  font-size: 1rem;
  font-family: EuclidMedium;
  color: #6B6084;
  margin-top: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-family: EuclidMedium;
}

.p {
  margin-top: 1rem;
  color: #6B6084;
}

@media screen and (max-width: 1024px) {
  .winner-section1-container {
    margin: 3rem 0rem;
  }

  .winner-section1-container-title,
  .about-section9-title {
    font-size: 1.5rem;
  }

  .winner-section1-btn-container {
    display: none;
  }

  .winner-section1-main-des-container {
    display: block;
  }

  .winner-section1-main-des-container>p {
    width: 100%;
    font-size: 1rem;
    color: #6B6084;
  }

  .winner-section1-items-container {
    display: flex;
    align-items: center;
    column-gap: 5rem;
    overflow-x: auto;
    margin: 2rem 0rem;
  }

  .winner-section1-items-container::-webkit-scrollbar {
    display: none;
  }

  .winner-section1-items-img {
    width: 100%;
  }

  .winner-section1-items-img>img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 10/10;
  }

  .winner-section1-item-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100%;
    background-color: #F8FAFF;
    padding: 0.5rem;
    box-sizing: border-box;
  }

  .winner-section1-item-content {
    padding: 0rem;
    box-sizing: border-box;
    height: 100%;
  }

  .winner-section1-item-content>div {
    font-family: EuclidSemibold;
    font-size: 1.25rem;
    margin-top: 1rem;
    color: #0D0225;
  }

  .winner-section1-item-content>p {
    /* font-family: EuclidSemibold; */
    font-size: 1rem;
    color: #6B6084;
  }

  .winner-section1-mob-btn-container {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    font-size: 20px;
    font-family: EuclidMedium;
  }

  .winner-header {
    padding-top: 1rem;
  }

  .winner-event {
    color: #0047FF;
    font-size: 1rem;
    font-family: EuclidSemibold;
  }

  .Winner-date-category {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }

  .winner-date {
    font-size: 12px;
    color: #6B6084;
    margin-top: 5px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }

  .winner-category {
    font-size: 12px;
    color: #6B6084;
    margin-top: 5px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }

  .p {
    margin-top: 0.5rem;
    color: #6B6084;
  }
}